// Finds a value in an "associative array"
// @param $array		: a nested list, primarily with 2 values by row( index1 value1, index2 value2, etc )
// @param $index		: the index, that you search the value for
// @param $if-not-found	: returns this, if index not found
@function array-value($array, $index, $if-not-found : false){
	$index	: unquote($index);
	
	@each $element in $array{
		@if unquote(nth($element, 1)) == $index{
			@return nth($element, 2);
		}
	}
	
	@return $if-not-found;
}

// ----- example ----- //

// a list of "name-value pairs"
// indexes can be quoted and unquoted, it doesn't matter
// values can be complex too
$faux_array :
  index1    "value1",
  index2    "value2",
  index3    "value3",
  "border"  (12px solid #000),
  "complex" (0 0 1px 0 #000, 0 0 5px 0 #733);

.test{
  border-left : array-value($faux_array, "border"); // search index can be quoted
  box-shadow : array-value($faux_array, complex);   // or unquoted
}
