// prefixes for the wendor specific function
$wendor_prefixes :
    "        ",
	"     -o-",
	"    -ms-",
	"   -moz-",
	"-webkit-";

// creates one gradient for IE - apply as filter
// @param $dir				: top|bottom|left|right
// @param $color1, $color2	: add colors
@function gradient-ie($dir, $color1, $color2){
	@if $dir == right{
		$swap : true;
	}@else if $dir == bottom{
		$swap : true;
	}@else{
		$swap : false;
	}
	@if $swap == true{
		$c : $color1;
		$color1 : $color2;
		$color2 : $c;
	}
	
	@if $dir == top{
		$dir : 0;
	}@else if $dir == bottom{
		$dir : 0;
	}@else{
		$dir : 1;
	}
	
	@return progid:DXImageTransform.Microsoft.Gradient(GradientType=#{$dir},startColorstr=#{ie_hex_str($color1)},endColorstr=#{ie_hex_str($color2)});
}

// creates one gradient - apply as background-image
// @param $prefix	: add a prefix from $wendor_prefixes to target all browser vendors
// @param $dir		: top|bottom|left|right
// @param $colors	: add colors
@function gradient($prefix, $dir, $colors...){
	@return #{$prefix}linear-gradient($dir, $colors);
}

// ----- example ----- //

// Simple 2 color gradient in all browsers
.gradient-bg{
	@each $prefix in $wendor_prefixes{
		background : gradient($prefix, top, #2e2e2e, #9a47b2);
	}
}

// Gradient for IE
body.ie .gradient-bg{
	zoom : 1;
	filter : gradient-ie(top, #2e2e2e, #9a47b2);
}

// Complex gradient with multiple specified steps and with more css background elements
.gradient-bg-with-color{
	@each $prefix in $wendor_prefixes{
		$color : #00f;
		background : gradient($prefix, top, rgba($color, .75) 0%, rgba($color, .35) 50%, rgba($color, 0) 100%), green;
	}
}
